.list__button {
    width: 22px;
    height: 19px;
    padding: 0;
    background: url("../../../images/like.svg");
    box-sizing: border-box;
    border: none;
    background-repeat: no-repeat;
    outline: none;
    text-decoration: none;
    list-style: none;
    object-fit: cover;
    cursor: pointer;
}

.list__button:hover {
    opacity: 0.5;
}

