.list__description {
    max-width: 282px;
    margin: 0;
    padding: 0;
    margin-right: 17px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.list__description:nth-child(3n) {
    margin-right: 0;
}

.list__description:last-child {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 910px) {

    .list__description:nth-child(3n) {
        margin-right: 17px;
    }


}

@media screen and (max-width: 638px) {

    .list__description {
        margin: 0;
    }

    .list__description:nth-child(3n) {
        margin-right: 0;
    }


}