.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    max-width: 890px;
    box-sizing: border-box;
    margin: 37px auto 33px;
}

@media screen and (max-width: 910px) {
    .header {
        max-width: 80%;
    }
}

@media screen and (max-width: 330px) {
    .header {
        margin: 0;
        max-width: 100%;
        padding: 0 15px 0;
        margin-bottom: 45px;
    }
}