.profile__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    text-overflow: ellipsis;
    max-width: 336px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 380px) {

    .profile__text {
        font-size: 14px;
        max-width: 282px;

    }


}