.profile__info{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    position: relative;
}

@media (max-width: 740px){
    .profile__info{
        margin-bottom: 14px;
        margin-right: 0;
        max-width: 90%;
    }
}