.profile__button{
    margin: 15px 0 0 18px;
    padding: 0;
    box-sizing: border-box;

    border: none;
    width: 30px;
    height: 24px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-image: url("../../../images/editbuttons.svg");
    object-fit: cover;
}

.profile__button:hover{
    opacity: 0.6;
    transition: 0.2s ease;
    cursor: pointer;
}

@media (max-width: 740px){
    .profile__button{
        margin: 0;
        position: absolute;
        width: 28px;
        height: 24px;
        top: 8px;
        right: -28px;
    }
}