.element {
    position: relative;
    max-width: 282px;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 10px;
  }